.parent {
    display: flex;
    justify-content: space-around;
}


.screenOne {
    border: solid 3px black;
    height: 745px;
    width: 350px;
    border-radius: 40px;
}

.course {
    margin-left: 20px;
}


.image {
    height: 50px;
    padding: 50px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 2px black;
}

#courseMsg {
    margin-left: 10px;
}

.photo {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

.aboutAuthor {
    display: flex;
    gap: 20px;
}


.details-lessons-reviews {
    display: flex;
    justify-content: space-around;
}

.details {
    border-bottom: 3px solid red;
}

.learning-parent {
    margin-left: 10px;
}

.bottomNav {
    display: flex;
    justify-content: space-around;
}


#lesson-msg {
    margin-left: 20px;
}


.lesson-one {
    height: 150px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: pink;
}

.lesson-name {
    margin-left: 10px;
}

#courseNameTwo {
    margin-left: 10px;
    margin-top: 10px;
}


.progress-and-mins {
    display: flex;
    gap: 40px;
    margin-left: 20px;
    margin-top: 10px;
}

.lesson-two {
    margin-top: 20px;
    height: 150px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: gainsboro;
}

.aboutAnotherAuthor {
    display: flex;
    gap: 20px;
}

.recentLesson {
    margin-left: 20px;
}

.lessonParent {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.serialNumber {
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
}

.bottomNavSecond {
    display: flex;
    margin-top: 90px;
    justify-content: space-around;
}